/* ========= SearchBar ========= */

.search {
  width: 50%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;

  color: #575756;
  background-color: transparent;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;

  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

/* ========= Helpful / Add Answer ========= */

.right_header {
  float: left;
  margin-top: 5px;
  margin-left: 630px;
}

/* ========= User / Helpful / Reported ========= */

.left-header {
  margin-left: 20px;
}

/* ========= Load More Answers ========= */

.centerLoadAnswers {
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

/* ========= Buttons ========= */

.button2 {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}
.button2:hover {
  color: #dddddd;
  border-color: #dddddd;
}
.button2:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

@media all and (max-width: 30em) {
  .button2 {
    display: block;
    margin: 0.4em auto;
  }
}

/* ========= QA margins ========= */

.QAspace {
  margin-bottom: 7rem;
}

.QAtitle {
  margin-left: 7rem;
}

h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

/* ========= Accordion ========= */

.accordion {
  max-width: 830px;
  margin: 4rem;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #c5c8cf;
}

.accordion-title:hover {
  background-color: #cdcfd4;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #dadde4;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid rgb(170, 168, 168);
}

/* ========= Modal ========= */

.modal {
  background-color: whitesmoke;
  box-shadow: 0 2px 20px #e0e4ec;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 600px;
  max-width: 90%;
  height: 380px;
  max-height: 90%;
  z-index: 1000;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  overflow: auto;
}

/* ========= Close Button ========= */

.closeBtn {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  display: block;
  float: right;
  cursor: pointer;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

.closeXIcon {
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
}

.closeXIcon:hover {
  color: tomato;
}

.addQuestionSpace {
  margin-top: 20px;
  color: rgb(48, 47, 47);
}

/* ========= Fonts ========= */

.small_font {
  font-size: small;
  color: gray;
}

.darktitle {
  color: rgb(48, 47, 47);
}

body {
  font-family: Oxygen, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
