/* .rowQuestion {
  display: flex;
  flex-direction:row;
}
#big_image {
  width: 500px;
}

.thumbnail {
  width: 100px;
}

.align_left {
  text-align: left;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.individual_container {
  display: grid;
  padding: 10px;
  row-gap: 10px;
  margin: 0 auto;
} */

.small_font {
  font-size: small;
  color: gray;
}

/* .center {
  margin: auto;
  padding: 10px;
  width: 50%;
  text-align: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(199, 233, 148, 1) 100%
  );
} */

/* Please add margin: 2rem in your biggest container for your widget*/

.QAspace {
  margin-bottom: 7rem;
}

.QAtitle {
  margin-left: 7rem;
};

h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  /* background-color: #21aeca; */
  background-color: rgb(212, 211, 211);
}

.accordion-title:hover {
  background-color: #a8a7a7;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  /* background-color: #39b9d2; */
  background-color: rgb(221, 218, 218);
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.modal {
  background-color: whitesmoke;
  box-shadow: 0 2px 20px #e0e4ec;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 600px;
  max-width: 90%;
  height: 380px;
  max-height: 90%;
  z-index: 1000;
}

.darktitle {
  color: rgb(48, 47, 47);
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  overflow: auto;
}

.closeBtn {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  display: block;
  float: right;
  cursor: pointer;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

.closeXIcon {
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
}

.closeXIcon:hover {
  color: tomato;
}

body {
  font-family: Oxygen, sans-serif;
}