@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');

.nav {
  background-color: black;
  color: #f3f3f3;
  margin: 0px;
  border: 0px;
  width: 100%;
  height: 80px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.teamlogo {
  margin-left: 1.5rem;
  color: #f3f3f3;
  font-size: 3rem;
  font-family: 'Qwitcher Grypen', cursive;
}

.navIcons {
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.dark {
  margin: 1rem;
  cursor: pointer;
}

.cart {
  margin: 1rem;
}

.fav {
  margin: 1rem;
}

.cart:hover {
  font-size: 2.2rem;
}

.fav:hover {
  font-size: 2.2rem;
}

div#notice {
  position: fixed;
  top: 1.5em;
  left: 25%;
  width: 50%;
  z-index: 10000;
}

div#notice:not(.ui-state-error) {
  color: black;
  background-color: #6edfee;
  border: 1px solid #456594;
  padding: 5px;
  text-align: center;
}

div#notice.hidden {
  opacity: 0;
}

.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cartThumb {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.cartItem {
  display: inline-flex;
}

.itemDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  width: 320px;
}

.priceSize {
  display: flex;
  justify-content: space-between;
}

.tableBody {
  display: flex;
  flex-direction: column;
}

.cartOpen {
  background-color: whitesmoke;
  box-shadow: 0 2px 20px #e0e4ec;
  position: absolute;
  top: 80px;
  left: calc(100% - 505px);
  margin: inherit;
  width: 505px;
  height: auto;
  max-width: 90%;
  z-index: 2000;
}

.cartContainer {
  overflow: inherit;
  padding-left: 50px;
  min-height: 500px;
}

.total {
  display: flex;
  justify-content: end;
  padding-top: 20px;
  width: 400px;
}
