*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal {
  background-color: whitesmoke;
  box-shadow: 0 2px 20px #e0e4ec;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 600px;
  max-width: 90%;
  height: 410px;
  max-height: 90%;
  z-index: 1000;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  overflow: auto;
}

table {
  position: fixed;
  width: 600px;
  max-width: 90%;
  height: 240px;
  max-height: 90%;
  padding-right: 2rem;
  padding-left: 2rem;
}

h3 {
  font-size: 0.7rem;
  font-weight: lighter;
  color: rgb(122, 122, 122);
  padding-top: 1.5rem;
  padding-left: 2rem;
}

.tableHeaders {
  padding: 0.8rem 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1rem;
  width: 100%;
}

.middleColumn {
  text-align: center;
  font-weight: 400;
  color: rgb(92, 92, 92);
}

.closeBtn {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  display: block;
  float: right;
  cursor: pointer;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

.closeXIcon {
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
}

.closeXIcon:hover {
  color: tomato;
}

.checkIcon:hover {
  color: rgb(1, 156, 1);
}
