@import url('~react-image-gallery/styles/css/image-gallery.css');

.product {
  display: flex;
  padding: 50px;
}

#product-info {
  display: grid;
}

.gallery-container {
  margin-left: auto;
  margin-right: auto;
}

/* .image-gallery {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-style: solid;
  border-color: cyan;
} */

.image-gallery {
  width: 500px;
  height: 600px;
  object-fit: cover;
}

.add-to-cart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.slogan {
  height: 50%;
}

.sale-price {
  color: red;
}

.sale-price .default-price {
  color: black;
  text-decoration: line-through;
}

.parent {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  margin-left: 100px;
  height: 500px;
  width: 400px;
  border-style: solid;
  border-color: chartreuse;
  overflow: hidden;
}

.slide-reel {
  display: flex;
  align-content: flex-start;
  border-style: solid;
  border-color: red;
}

.styles {
  box-sizing: content-box;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}

.image-gallery-image {
  width: 600px;
  height: 500px;
  object-fit: cover;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  object-fit: fill;
}

.button {
}

.menu {
}
