@import url('~react-image-gallery/styles/css/image-gallery.css');

#big_image {
  width: 500px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.gallery-container {
  width: 50%;
}
