@import url('~react-image-gallery/styles/css/image-gallery.css');

.product {
  display: flex;
  padding: 50px;
  margin: 2rem;
}

#product-info {
  display: grid;
}

.gallery-container {
  margin-left: auto;
  margin-right: auto;
}

.image-gallery {
  width: 500px;
  height: 600px;
  object-fit: cover;
}

.add-to-cart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.slogan {
  height: 50%;
  text-align: center;
}

.sale-price {
  color: red;
}

.sale-price .default-price {
  color: black;
  text-decoration: line-through;
}

.styles {
  box-sizing: content-box;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}

.image-gallery-image {
  width: 600px;
  height: 500px;
  object-fit: cover;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  object-fit: fill;
}

#favorite {
  font-size: larger;
}

#favorite:hover,
.icon:hover {
  color: gold;
  cursor: pointer;
}

.favorited {
  color: rgb(241, 21, 194);
}

.icons {
  font-size: xx-large;
}

.icon {
  padding: 10px;
}

.selected {
  border-style: solid;
  border-color: rgb(0, 255, 242);
}

.button {
  background-color: rgb(118, 118, 118);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16;
  border-radius: 5%;
}

.button:hover {
  background-color: turquoise;
  cursor: pointer;
}
