.ratingsReviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.breakDown {
  display: flex;
  flex-direction: column;
}

.avg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.num {
  font-size: 75px;
}

.starDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 5px;
}

.summary {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 30px;
}

.revModal {
}

ul {
  list-style-type: none;
}
